.container {
  /* border: 1px solid red; */
  position: absolute;
  top: 210px;
  right: 50px;
  left: 50px;
}

.texts {
  text-align: center;
  /* border: 1px solid; */
}

.listBooks {
  background-color: #E5E5E5;
  /* border: 1px solid red; */
  height: 100vh;
  /* width: 80%; */
}